!!! 5
%html{:lang => "en-US"}
	%head
		%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
		%title
			= yield (:title)
		= stylesheet_link_tag "application"
		= javascript_include_tag "jquery.min", "application", "rails"
		= csrf_meta_tag
	%body
		.pageContainer
			.header
				%ul
					%li.logo
						= link_to image_tag("logo.png"), ""
					%li.logout= link_to "Выйти", ""
					
		= yield